<div ng-include="'views/logo.html'"></div>
<!-- TODO factor out? -->
<div class="room-title" ng-bind="room.name">room</div>
<div class="room-stats">{{question.votes}}<br/><span>todo: connected?</span></div>
<!-- end -->
<div id="voting-admin-panel">
	<span class="timer" ng-bind="elapsedTime"></span>
	<button id="questionAction" ng-class="{new: question.state == 'stopped', stop: question.state != 'stopped'}"
	ng-bind="question.state == 'stopped' && 'NOUVEAU' || 'TERMINER'"></button>

	votes: <span class="votesCount" ng-bind="question.votes"></span>
	<div id="showqrcode" title="afficher le QRCode"
		ng-click="showqrcode=!showqrcode"><qrcode width="40" height="40" href="href"></qrcode></div>
	<img id="toggleHistory" alt="afficher historique" title="afficher historique"  src="/img/history_icon.png"
		ng-click="showhistory=!showhistory"/>
	<img id="toggleResults" alt="afficher résultats" title="afficher résultats"  src="/img/chart_icon.png"
		ng-click="showresults=!showresults"/>
	<div class="backLink" ng-click="go('/')"><</div>
</div>
<div class="liveresults" ng-show="showresults">
	<chart data="question.results"></chart>
	<div ng-show=" question.state == 'started'">
		<label>nombres de choix <input type="range" min="2" max="8" ng-model="question.possibleAnswers" /></label>
	</div>
</div>
<div id="qrCodePanel" ng-show="showqrcode" ng-click="showqrcode=false">
	<qrcode href="href"></qrcode>
	<h1 ng-bind="href"></h1>
</div>
<div class="history" ng-show="showhistory">
	<div class="swiper-container">
		<div class="swiper-wrapper preload">
		#each questionsHistory
			<div class="swiper-slide questionHistory">
				> resultChart results
				<div class="chart-info">&#916; {{time}} <span class="date">&#64; {{date}}</span><span class="count">N {{votes}}</span></div>
			</div>
		/each
		</div>
		<div class="pagination"></div>
	</div>	
</div>