
<template name="debug">
<div>{{time}}</div>
</template>

<template name="page">
  {{#if session 'showlogin'}}
	{{loginButtons align="right"}}
  {{/if}}
  {{#if currentPageIs 'roomSelection'}}
	{{> roomSelection}}	
  {{/if}}
  {{#if currentPageIs 'roomVoter'}}
	{{> roomVoter}}	
  {{/if}}
  {{#if currentPageIs 'roomAsker'}}
	{{> roomAsker}}	
  {{/if}}
</template>

<template name="logo">
<div>
  <h1 class="logo">ColorVote</h1>
  <div id="logo">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
  </div>
</div>  
</template>

<template name="roomSelection">
	{{> logo}}
	<div class="rooms">
	{{#each rooms}}
		{{> roomSelectionItem}}
	{{/each}}
	{{#isolate}}
		{{#if isAdmin}}
			<div class="room add-room">+ Add room</div>
		{{/if}}
	{{/isolate}}
  </div>
</template>
<template name="roomSelectionItem">
  <div class="room">{{name}} {{> roomCount this}}
  {{#isolate}}
	{{#if isAdmin}}<span class="rename-room">renommer</span>{{/if}}
  {{/isolate}}
  </div>
</template>
<template name="roomCount">
	<span>({{count}})</span>
</template>
<template name="roomName">
  <div class="room-title">{{room}}</div>
  {{#isolate}}
  <div class="room-stats">{{votes}}<br/><span>{{presenceCount}}</span></div>
  {{/isolate}}
</template>
<template name="roomVoter">
{{>swipeVote}}
{{> roomName}}
{{#isolate}}
<div class="show-card-vote"></div>
{{#if session 'showCardVote'}}
<div class="card-vote">
{{#each choices}}
	{{> choice}}
{{/each}}
</div>
{{/if}}
{{/isolate}}
{{#isolate}}
	{{#if votenow}}
	<div class="votenow">Votez maintenant</div>
	{{/if}}
{{/isolate}}
{{#isolate}}
	{{#if stopped}}
	<div class="voting-stopped">
	<h1>Votation terminée</h1>
	</div>
	{{/if}}
{{/isolate}}
{{>backLink}}
</template>

<template name="swipeVote">
{{#constant}}
<div class="swiper-container voter">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><div class="title"></div></div>
		<div class="swiper-slide"><div class="title"></div></div>
		<div class="swiper-slide"><div class="title"></div></div>
	</div>
	<div class="pagination"></div>
</div>
{{/constant}}
</template>

<template name="backLink">
	<div class="backLink"><</div>
</template>

<template name="choice">
	<div class="card-wrapper"><div class="card color-{{no}} {{#if currentVoteIs no}}active{{/if}}"><div class="title">{{no}}</div></div></div>
</template>

<template name="roomAsker">
	{{> logo}}
	{{> roomName}}
	<div id="voting-admin-panel">
		{{>timer}}
		
		{{> questionAction}}
	
		votes: {{>votesCount}}
		<div id="showqrcode" title="afficher le QRCode">{{> qrCode hrefThumb}}</div>
		<img id="toggleHistory" alt="afficher historique" title="afficher historique"  src="/history_icon.png"/>
		<img id="toggleResults" alt="afficher résultats" title="afficher résultats"  src="/chart_icon.png"/>
		{{>backLink}}
	</div>
	{{#if session 'showresults'}}
	<div class="liveresults">
		{{#isolate}}
		{{> resultChart data}}
		{{/isolate}}
		{{#unless stopped}}
		<div>
			<label>nombres de choix <input type="range" min="2" max="{{Config.numMaxAnswers}}" value="{{possibleAnswers}}" /></label>
		</div>
		{{/unless}}
	</div>
	{{/if}}
	{{#if session 'showqrcode'}}
		<div id="qrCodePanel">
			{{> qrCode href}}
			<h1>{{href.href}}</h1>
		</div>
	{{/if}}
	{{> history}}
</template>
<template name="questionAction">
	{{#if stopped}}<button id="questionAction" class="new">NOUVEAU</button>{{/if}}
	{{#unless stopped}}<button id="questionAction" class="stop">TERMINER</button>{{/unless}}
</template>
<template name="votesCount">
<span class="votesCount">{{votesCount}}</span>
</template>
<template name="timer">
<span class="timer">{{session 'elapsedTime'}}</span>
</template>
<template name="history">
{{#if session 'showhistory'}}
<div class="history">
<div class="swiper-container">
	<div class="swiper-wrapper preload">
	{{#each questionsHistory}}
		<div class="swiper-slide questionHistory">
			{{> resultChart results}}
			<div class="chart-info">&#916; {{time}} <span class="date">&#64; {{date}}</span><span class="count">N {{votes}}</span></div>
		</div>
	{{/each}}
	</div>
	<div class="pagination"></div>
</div>	
</div>
{{/if}}
</template>
<template name="resultChart">
    {{#constant}}
      <svg width="500" height="500" class="chart">
		<g class="transform">
			<g class="x axis"></g>
			<g class="y axis"></g>
		</g>
      </svg>
    {{/constant}}
</template>
<template name="qrCode">
    {{#constant}}
	<div class="qrcode"></div>
	{{/constant}}
</template>