<template name="page">
  {{#if session 'showlogin'}}
	{{loginButtons align="right"}}
  {{/if}}
</template>

<template name="roomName">
  <div class="room-title">{{room}}</div>
  <div class="room-stats">{{votes}}<br/><span>{{presenceCount}}</span></div>
</template>

<template name="resultChart">
    {{#constant}}
      <svg width="500" height="500" class="chart">
		<g class="transform">
			<g class="x axis"></g>
			<g class="y axis"></g>
		</g>
      </svg>
    {{/constant}}
</template>
<template name="qrCode">
    {{#constant}}
	<div class="qrcode"></div>
	{{/constant}}
</template>