<div class="swiper-container voter">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><div class="title"></div></div>
		<div class="swiper-slide"><div class="title"></div></div>
		<div class="swiper-slide"><div class="title"></div></div>
	</div>
	<div class="pagination"></div>
</div>
<!-- TODO factor out? -->
	<div class="room-title" ng-bind="room.name">room</div>
	<div class="room-stats">{{question.votes}}<br/><span>todo: connected?</span></div>
<!-- end -->
<div class="show-card-vote" ng-click="toggleCardVote()"></div>
<div class="card-vote" ng-show="showCardVote" ng-click="toggleCardVote()">
	<div class="card-wrapper" ng-repeat="choice in choices | limitTo: question.possibleAnswers">
		<div class="card color-{{$index}}" ng-class="{active: vote.vote == $index}"
			ng-click="setVote($index);$event.stopImmediatePropagation();">
			<div class="title" ng-bind="choice"></div>
		</div>
	</div>
</div>
<div class="votenow" ng-show="vote.vote == undefined">Votez maintenant</div>
<div class="voting-stopped" ng-show="question.state == 'stopped'">
<h1>Votation terminée</h1>
</div>
<div class="backLink" ng-click="go('/')"><</div>